# Modeling

## 1. Run all your previous scripts that acquired, prepared, split, and scaled your data.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression 
from math import sqrt
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")

import env
import wrangle
import split_scale
import features

In [ ]:
#acquired and cleaned df
wrangle.wrangle_telco()

In [ ]:
#visualize data
wrangle.wrangle_telco_viz()

In [27]:
#descriptive statistics of cleaned df
wrangle.wrangle_telco_description()

Showing 10-line sample
      customer_id  monthly_charges  tenure  total_charges
441   7113-HIPFI            65.85      66        4097.05
145   2516-XSJKX            78.45      41        3126.45
204   3533-UVMOM            70.95      68        4741.45
1369  4836-WNFNO            25.00      72        1849.20
1586  8229-BUJHX            20.50      71        1500.95
402   6522-OIQSX            54.95      69        3772.50
1012  8984-EYLLL           105.25      64        6823.40
1353  4641-FROLU            19.30      30         602.90
1275  3308-DGHKL            19.30      69        1447.90
36    0531-XBKMM            65.70      66        4378.90

Showing df.describe
        monthly_charges      tenure  total_charges
count      1685.000000  1685.00000    1685.000000
mean         60.872374    57.07181    3728.933947
std          34.712210    17.72913    2571.252806
min          18.400000     1.00000      20.350000
25%          24.050000    48.00000    1278.800000
50%          64.450000    64.00000    3623.950000
75%          90.550000    71.00000    5999.850000
max         118.750000    72.00000    8672.450000

Showing df.shape
 (1685, 4)

Showing df.info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
total_charges      1685 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB
None

In [23]:
#remove unneeded columns from x dataframe, create y dataframe, split & transform data
df = wrangle.wrangle_telco()
X = df.drop(columns=['total_charges', 'customer_id'])
y = pd.DataFrame(df.total_charges)

x_train, x_test, y_train, y_test = split_my_data(X,y)
y_train.head()

      total_charges
120         3580.95
1423         146.60
389         6376.55
1136        1759.55
1503        1672.35

In [24]:
#standard scaler applied and then transformed for x_train and x_test
train_x_scaled_data, test_x_scaled_data,scaler_x_train, scaler_x_test = standard_scaler(x_train,x_test)
train_x_scaled_data.head()

      monthly_charges    tenure
120         -0.350406  0.833892
1423        -1.195468 -2.812408
389          0.807054  0.833892
1136        -1.015514  0.549024
1503        -1.038548  0.492051

## 2. Select your features using your features script

### Method: 1 k best fit

In [2]:
features.select_kbest_freg(split_scale.x_train, 2)

['monthly_charges', 'tenure']

### Method 2: backward elimination

In [3]:
features.ols_backware_elimination (split_scale.train_x_scaled_data)

['monthly_charges', 'tenure']

## 3. Fit 2 different linear models to your data

In [13]:
ols_model = sm.OLS(split_scale.y_train, split_scale.train_x_scaled_data)
ols_model

In [10]:
results = model.fit()

In [11]:
results.params

monthly_charges    2130.105598
tenure              745.364339
dtype: float64