In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

Convert the pandas dataframe to a spark dataframe. From this point
       forward, do all of your work with the spark dataframe, not the pandas
       dataframe.

In [92]:
import pyspark
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean, lit, regexp_extract, regexp_replace
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Show the first 3 rows of the dataframe.

In [5]:
df = spark.createDataFrame(pandas_dataframe)
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

Show the first 7 rows of the dataframe.

In [6]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

View a summary of the data using `.describe`.

In [7]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

Use `.select` to create a new dataframe with just the `n` and `abool`
       columns. View the first 5 rows of this dataframe.

In [37]:
df.select('n', df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

Use `.select` to create a new dataframe with just the `group` and `abool`
       columns. View the first 5 rows of this dataframe.

In [9]:
df2 = df.select(df.group, df.abool)
df2.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

Use `.select` to create a new dataframe with the `group` column and the
       `abool` column renamed to `a_boolean_value`. Show the first 3 rows of
       this dataframe.

In [10]:
df3 = df.select(df.group, df.abool.alias('a_boolean_value'))
df3.show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

Use `.select` to create a new dataframe with the `group` column and the
       `n` column renamed to `a_numeric_value`. Show the first 6 rows of this
       dataframe.

In [11]:
df4 = df.select(df.group, df.n.alias('a_numeric_value'))
df4.show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

Use `.select` to add 4 to the `n` column. Show the results.

In [14]:
df.select(df.n, df.n +4).show()

+--------------------+------------------+
|                   n|           (n + 4)|
+--------------------+------------------+
|  -0.712390662050588|3.2876093379494122|
|   0.753766378659703| 4.753766378659703|
|-0.04450307833805...|3.9554969216619464|
| 0.45181233874578974|  4.45181233874579|
|  1.3451017084510097|5.3451017084510095|
|  0.5323378882945463| 4.532337888294546|
|  1.3501878997225267| 5.350187899722527|
|  0.8612113741693206|  4.86121137416932|
|  1.4786857374358966| 5.478685737435897|
| -1.0453771305385342| 2.954622869461466|
| -0.7889890249515489|3.2110109750484512|
|  -1.261605945319069| 2.738394054680931|
|  0.5628467852810314| 4.562846785281032|
|-0.24332625188556253|3.7566737481144377|
|  0.9137407048596775| 4.913740704859677|
| 0.31735092273633597| 4.317350922736336|
| 0.12730328020698067| 4.127303280206981|
|  2.1503829673811126| 6.150382967381113|
|  0.6062886568962988| 4.606288656896298|
|-0.02677164998644...|3.9732283500135592|
+--------------------+------------------+

Subtract 5 from the `n` column and view the results.

In [38]:
df.select(df.n, df.n -5).show(5)

+--------------------+-------------------+
|                   n|            (n - 5)|
+--------------------+-------------------+
|  -0.712390662050588| -5.712390662050588|
|   0.753766378659703| -4.246233621340297|
|-0.04450307833805...| -5.044503078338053|
| 0.45181233874578974|  -4.54818766125421|
|  1.3451017084510097|-3.6548982915489905|
+--------------------+-------------------+
only showing top 5 rows

Multiply the `n` column by 2. View the results along with the original
       numbers.

In [16]:
df.select(df.n, df.n*2).show()

+--------------------+--------------------+
|                   n|             (n * 2)|
+--------------------+--------------------+
|  -0.712390662050588|  -1.424781324101176|
|   0.753766378659703|   1.507532757319406|
|-0.04450307833805...|-0.08900615667610691|
| 0.45181233874578974|  0.9036246774915795|
|  1.3451017084510097|  2.6902034169020195|
|  0.5323378882945463|  1.0646757765890926|
|  1.3501878997225267|  2.7003757994450535|
|  0.8612113741693206|  1.7224227483386412|
|  1.4786857374358966|   2.957371474871793|
| -1.0453771305385342| -2.0907542610770684|
| -0.7889890249515489| -1.5779780499030978|
|  -1.261605945319069|  -2.523211890638138|
|  0.5628467852810314|  1.1256935705620628|
|-0.24332625188556253|-0.48665250377112507|
|  0.9137407048596775|   1.827481409719355|
| 0.31735092273633597|  0.6347018454726719|
| 0.12730328020698067| 0.25460656041396135|
|  2.1503829673811126|   4.300765934762225|
|  0.6062886568962988|  1.2125773137925977|
|-0.02677164998644...|-0.05354329997288145|
+--------------------+--------------------+

Add a new column named `n2` that is the `n` value multiplied by -1. Show
       the first 4 rows of your dataframe. You should see the original `n` value
       as well as `n2`.

In [20]:
from pyspark.sql.functions import col, expr

In [23]:
col('n')

Column<b'n'>

In [41]:
df.select(
    col('n'),
    (col('n')*-1).alias('n2')).show(5)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
|  1.3451017084510097| -1.3451017084510097|
+--------------------+--------------------+
only showing top 5 rows

Add a new column named `n3` that is the n value squared. Show the first 5
       rows of your dataframe. You should see both `n`, `n2`, and `n3`.

In [55]:
df.select(
    col('n'),
    (col('n')*-1).alias('n2'),
    (col('n') ** 2 ).alias('n3')
).show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

What happens when you run the code below?

In [60]:
df.group + df.abool

Column<b'(group + abool)'>

Try adding various other columns together. What are the results of
       combining the different data types?

In [61]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [62]:
df.n + df.abool

Column<b'(n + abool)'>

In [64]:
(df.n + df.group).show()

TypeError: 'Column' object is not callable

Use `.printSchema` to view the datatypes in your dataframe.  df.Use `.dtypes` to view the datatypes in your dataframe.

In [65]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

In [69]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

What is the difference between the two code samples below?

In [72]:
df.abool.cast('int').show()

TypeError: 'Column' object is not callable

In [71]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

Use `.select` and `.cast` to convert the `abool` column to an integer
       type. View the results.

In [73]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

Convert the `group` column to a integer data type and view the results.
       What happens?

In [74]:
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

Convert the `n` column to a integer data type and view the results. What
       happens?

In [75]:
df.select(df.n.cast('int')).show()

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

Convert the `abool` column to a string data type and view the results.
       What happens?

In [76]:
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

Find the highest `n` value.
    1. Find the lowest `n` value.
    1. Find the average `n` value.

In [79]:
df.createOrReplaceTempView("df")

In [87]:
df.select(min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

In [88]:
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

In [90]:
df.select(mean(df.n)).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

Use `concat` to change the `group` column to say, e.g. "Group: x" or
       "Group: y"

In [93]:
df.select(concat(lit('Group: '), col('group' ))).show()

+----------------------+
|concat(Group: , group)|
+----------------------+
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: y|
|              Group: z|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: y|
|              Group: x|
|              Group: z|
|              Group: y|
|              Group: x|
|              Group: x|
+----------------------+

Use `concat` to combine the `n` and `group` columns to produce results
       that look like this: "x: -1.432" or "z: 2.352"

In [103]:
df.select(concat(col('group'), lit(': '), col('n' ))).show()

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
|x: 0.861211374169...|
|z: 1.478685737435...|
|y: -1.04537713053...|
|x: -0.78898902495...|
|y: -1.26160594531...|
|y: 0.562846785281...|
|y: -0.24332625188...|
|y: 0.913740704859...|
|x: 0.317350922736...|
|z: 0.127303280206...|
|y: 2.150382967381...|
|x: 0.606288656896...|
|x: -0.02677164998...|
+--------------------+