In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import acquire
from pandas import ExcelWriter
from pandas import ExcelFile

In [2]:
from pydataset import data
df_iris = data('iris')

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape

(150, 5)

In [5]:
df_iris.head(0)

Empty DataFrame
Columns: [Sepal.Length, Sepal.Width, Petal.Length, Petal.Width, Species]
Index: []

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df_excel = pd.read_excel('Excel_Exercises.xlsx','Table1_CustDetails')

In [9]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
customer_id          7049 non-null object
gender               7049 non-null object
is_senior_citizen    7049 non-null int64
partner              7049 non-null object
dependents           7049 non-null object
phone_service        7049 non-null int64
internet_service     7049 non-null int64
contract_type        7049 non-null int64
payment_type         7049 non-null object
monthly_charges      7049 non-null float64
total_charges        7038 non-null float64
churn                7049 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 660.9+ KB

In [10]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No

In [11]:
len(df_excel.index)

7049

In [12]:
df_excel.columns[0:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [13]:
df_excel.select_dtypes(include = object).head(0)

Empty DataFrame
Columns: [customer_id, gender, partner, dependents, payment_type, churn]
Index: []

In [14]:
df_int = df_excel.select_dtypes(include = ['int64', 'float64'])

In [15]:
df_int.min()

is_senior_citizen     0.00
phone_service         0.00
internet_service      0.00
contract_type         0.00
monthly_charges      18.25
total_charges        18.80
dtype: float64

In [16]:
df_int.max()

is_senior_citizen       1.00
phone_service           2.00
internet_service        2.00
contract_type           2.00
monthly_charges       118.75
total_charges        8684.80
dtype: float64

In [17]:
df_int.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000

In [18]:
titanic_df = pd.read_csv('https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357')

#### print the first 3 rows
#### print the number of rows and columns
#### print the column names
#### print the data type of each column
#### print the summary statistics for each of the numeric variables
#### print the unique values for each of your categorical variables

In [19]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [20]:
titanic_df.shape

(891, 12)

In [21]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [23]:
titanic_df_int = titanic_df.select_dtypes(include = ['int64', 'float64'])

In [24]:
titanic_df_int.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [25]:
titanic_df_cat = titanic_df.select_dtypes(include = ['object'])

In [26]:
titanic_df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
Name        891 non-null object
Sex         891 non-null object
Ticket      891 non-null object
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: object(5)
memory usage: 34.9+ KB

In [27]:
titanic_df_cat.nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

## Titanic

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [29]:
df_t = acquire.get_titanic_data()

Summarize

info
describe
head/tail
value_counts
shape
isnull

In [30]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
passenger_id    891 non-null int64
survived        891 non-null int64
pclass          891 non-null int64
sex             891 non-null object
age             714 non-null float64
sibsp           891 non-null int64
parch           891 non-null int64
fare            891 non-null float64
embarked        889 non-null object
class           891 non-null object
deck            203 non-null object
embark_town     889 non-null object
alone           891 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [31]:
df_t.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,445.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.602694
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489615
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,445.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,667.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,890.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [32]:
df_t.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [33]:
df_t.tail()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
886,886,0,2,male,27.0,0,0,13.00,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.00,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.45,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.00,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.75,Q,Third,None,Queenstown,1

In [34]:
df_t.shape

(891, 13)

In [35]:
df_t.isnull().sum()

passenger_id      0
survived          0
pclass            0
sex               0
age             177
sibsp             0
parch             0
fare              0
embarked          2
class             0
deck            688
embark_town       2
alone             0
dtype: int64

In [36]:
df_t.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
passenger_id,891.0,445.000000,257.353842,0.00,222.5000,445.0000,667.5,890.0000
survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
sibsp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292
alone,891.0,0.602694,0.489615,0.00,0.0000,1.0000,1.0,1.0000

In [37]:
# sort True would put in order of largest number of observations
df_t.age.value_counts(bins=10, sort=False)

(0.339, 8.378]       54
(8.378, 16.336]      46
(16.336, 24.294]    177
(24.294, 32.252]    169
(32.252, 40.21]     118
(40.21, 48.168]      70
(48.168, 56.126]     45
(56.126, 64.084]     24
(64.084, 72.042]      9
(72.042, 80.0]        2
Name: age, dtype: int64

In [38]:
df_t.embarked.value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: embarked, dtype: int64

Prepare Data

drop columns
fillna
split
impute mean, mode, median: SimpleImputer
integer encoding: LabelEncoder
one hot encoding: OneHotEncoder
scale

In [39]:
df_t.drop(columns = ['deck'], inplace = True)

In [40]:
df_t.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

In [41]:
df_t.fillna(np.nan, inplace=True)
#Sometimes csv file has null values, which are later displayed as NaN in Data Frame. Just like pandas dropna() 
# method manage and remove Null values from a data frame, fillna() manages and let the user replace NaN values 
#with some value of their own.

In [42]:
train, test = train_test_split(df_t, train_size=.8, random_state=123)

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 329 to 510
Data columns (total 12 columns):
passenger_id    712 non-null int64
survived        712 non-null int64
pclass          712 non-null int64
sex             712 non-null object
age             564 non-null float64
sibsp           712 non-null int64
parch           712 non-null int64
fare            712 non-null float64
embarked        710 non-null object
class           712 non-null object
embark_town     710 non-null object
alone           712 non-null int64
dtypes: float64(2), int64(6), object(4)
memory usage: 72.3+ KB

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 172 to 221
Data columns (total 12 columns):
passenger_id    179 non-null int64
survived        179 non-null int64
pclass          179 non-null int64
sex             179 non-null object
age             150 non-null float64
sibsp           179 non-null int64
parch           179 non-null int64
fare            179 non-null float64
embarked        179 non-null object
class           179 non-null object
embark_town     179 non-null object
alone           179 non-null int64
dtypes: float64(2), int64(6), object(4)
memory usage: 18.2+ KB

Impute mean, mode, median using SimpleImputer

In [45]:
train.embarked.value_counts(dropna = False)

S      515
C      128
Q       67
NaN      2
Name: embarked, dtype: int64

In [46]:
imp_mode = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

imp_mode.fit(train[['embarked']])

train['embarked'] = imp_mode.transform(train[['embarked']])

test['embarked'] = imp_mode.transform(test[['embarked']])

In [47]:
train.embarked.value_counts()

S    517
C    128
Q     67
Name: embarked, dtype: int64

In [48]:
test.embarked.value_counts() #no change as there were not missing values

S    129
C     40
Q     10
Name: embarked, dtype: int64

In [49]:
imp_median = SimpleImputer(missing_values = np.nan, strategy = 'median')
train['age'] = imp_median.fit_transform(train[['age']])
train.age.isnull().sum()

0

Encoding

integer encoding
one hot encoding

In [50]:
int_encoder = LabelEncoder()
int_encoder.fit(train.embarked)
train.embarked = int_encoder.transform(train.embarked)

In [51]:
train.embarked.value_counts() #change label to numerical index (alpha sort by embarcation city)

2    517
0    128
1     67
Name: embarked, dtype: int64

In [52]:
embarked_array = np.array(train.embarked) #must be converted to a np array
embarked_array[0:5]

array([0, 1, 0, 1, 0])

In [53]:
embarked_array = embarked_array.reshape(len(embarked_array), 1) #must reshape array to make it work
embarked_array

array([[0],
       [1],
       [0],
       [1],
       [0],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [0],
       [0],
       [2],
       [0],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [1],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [1],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [1],
       [0],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [0],
       [1],
       [2],
       [0],
       [1],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [0],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [1],
       [0],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [0],
       [2],
       [2],
       [0],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [0],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [1],
       [1],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [0],
       [1],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [0],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [0],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [0],
       [0],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [0],
       [0],
       [1],
       [2],
       [2],
       [0],
       [0],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [1],
       [2],
       [2],
       [1]])

In [54]:
ohe = OneHotEncoder(sparse = False, categories = 'auto')
ohe

OneHotEncoder(categorical_features=None, categories='auto', drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=False)

In [55]:
embarked_ohe = ohe.fit_transform(embarked_array) #embarcation location now coded as 1 or 0, mutually exclusive
embarked_ohe

array([[1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [56]:
test.embarked = int_encoder.transform(test.embarked)

In [57]:
test.embarked

172    2
524    0
452    0
170    2
620    0
397    2
161    2
41     2
702    0
567    2
147    2
100    2
820    2
676    2
177    0
644    0
195    0
185    2
167    2
117    2
888    2
237    2
795    2
171    1
824    2
353    2
521    2
307    0
646    2
560    1
642    2
670    2
722    2
509    2
145    2
731    0
699    2
406    2
345    2
209    0
435    2
48     0
240    0
483    2
138    2
134    2
577    2
35     2
131    2
316    2
367    0
813    2
227    2
4      2
864    2
522    0
266    2
688    2
336    2
683    2
809    2
700    0
802    2
306    0
210    2
616    2
463    2
723    2
270    2
303    1
52     0
482    2
740    2
54     0
408    2
313    2
860    2
491    2
375    0
31     0
617    2
735    2
182    2
36     0
294    2
      ..
273    0
715    2
310    0
269    2
103    2
600    2
164    2
659    0
536    2
875    0
196    1
671    2
810    2
57     0
614    2
327    2
78     2
690    2
318    2
769    2
162    2
236    2
694    2
249    2
775    2
748    2
566    2
668    2
707    2
5      1
551    2
861    2
678    2
602    2
727    1
91     2
523    0
90     2
75     2
726    2
862    2
675    2
299    0
799    2
511    2
272    2
280    1
632    0
532    0
831    2
448    0
200    2
13     2
74     2
821    2
641    0
599    0
59     2
816    2
764    2
151    2
531    0
11     2
777    2
865    2
796    2
346    2
822    2
370    0
498    2
633    2
356    2
774    2
640    2
274    1
188    1
753    2
351    2
229    2
848    2
388    1
338    2
827    0
773    0
221    2
Name: embarked, Length: 179, dtype: int64

In [58]:
embarked_array = np.array(test.embarked).reshape(len(test.embarked), 1) #repeat with test

In [59]:
embarked_test_ohe = ohe.transform(embarked_array)

In [60]:
embarked_test_ohe[0:5]

array([[0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

### Iris

get_iris_data: returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.

In [61]:
import acquire
df_i = acquire.get_iris_data()

In [62]:
df_i.sample(10)

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id,species_name
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
103,104,6.3,2.9,5.6,1.8,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
5,6,5.4,3.9,1.7,0.4,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
101,102,5.8,2.7,5.1,1.9,3,3,virginica
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
40,41,5.0,3.5,1.3,0.3,1,1,setosa

# Prepare

Use the function defined in acquire.py to load the iris data.

In [63]:
import acquire
df_i = acquire.get_iris_data()

Drop the species_id and measurement_id columns.

In [64]:
df_i.drop(columns = ['species_id', 'measurement_id'], inplace = True)

Rename the species_name column to just species.

In [65]:
df_i.rename(columns = {'species_name' : 'species'}, inplace = True)

In [66]:
df_i

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?

In [68]:
df_i.species.value_counts(dropna=False)

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

In [69]:
df_i.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [70]:
int_encoder = LabelEncoder()
int_encoder.fit(df_i.species)
df_i.species = int_encoder.transform(df_i.species)

In [71]:
df_i.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [72]:
species_array = np.array(df_i.species) #must be converted to a np array
species_array[0:5]

array([0, 0, 0, 0, 0])

In [73]:
df_i.species.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int64

In [74]:
df_i

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
5             5.4          3.9           1.7          0.4        0
6             4.6          3.4           1.4          0.3        0
7             5.0          3.4           1.5          0.2        0
8             4.4          2.9           1.4          0.2        0
9             4.9          3.1           1.5          0.1        0
10            5.4          3.7           1.5          0.2        0
11            4.8          3.4           1.6          0.2        0
12            4.8          3.0           1.4          0.1        0
13            4.3          3.0           1.1          0.1        0
14            5.8          4.0           1.2          0.2        0
15            5.7          4.4           1.5          0.4        0
16            5.4          3.9           1.3          0.4        0
17            5.1          3.5           1.4          0.3        0
18            5.7          3.8           1.7          0.3        0
19            5.1          3.8           1.5          0.3        0
20            5.4          3.4           1.7          0.2        0
21            5.1          3.7           1.5          0.4        0
22            4.6          3.6           1.0          0.2        0
23            5.1          3.3           1.7          0.5        0
24            4.8          3.4           1.9          0.2        0
25            5.0          3.0           1.6          0.2        0
26            5.0          3.4           1.6          0.4        0
27            5.2          3.5           1.5          0.2        0
28            5.2          3.4           1.4          0.2        0
29            4.7          3.2           1.6          0.2        0
30            4.8          3.1           1.6          0.2        0
31            5.4          3.4           1.5          0.4        0
32            5.2          4.1           1.5          0.1        0
33            5.5          4.2           1.4          0.2        0
34            4.9          3.1           1.5          0.2        0
35            5.0          3.2           1.2          0.2        0
36            5.5          3.5           1.3          0.2        0
37            4.9          3.6           1.4          0.1        0
38            4.4          3.0           1.3          0.2        0
39            5.1          3.4           1.5          0.2        0
40            5.0          3.5           1.3          0.3        0
41            4.5          2.3           1.3          0.3        0
42            4.4          3.2           1.3          0.2        0
43            5.0          3.5           1.6          0.6        0
44            5.1          3.8           1.9          0.4        0
45            4.8          3.0           1.4          0.3        0
46            5.1          3.8           1.6          0.2        0
47            4.6          3.2           1.4          0.2        0
48            5.3          3.7           1.5          0.2        0
49            5.0          3.3           1.4          0.2        0
50            7.0          3.2           4.7          1.4        1
51            6.4          3.2           4.5          1.5        1
52            6.9          3.1           4.9          1.5        1
53            5.5          2.3           4.0          1.3        1
54            6.5          2.8           4.6          1.5        1
55            5.7          2.8           4.5          1.3        1
56            6.3          3.3           4.7          1.6        1
57            4.9          2.4           3.3          1.0        1
58            6.6          2.9           4.6          1.3        1
59            5.2          2.7           3.9          1.4        1
60            5.0          2.0           3.5          1.0        1
61            5.9          3.0           4.2          1.5        1
62            6.0          2.2           4.0          1.0        1
63            6.1          2.9           4.7          1.4        1
64            5.6          2.9           3.6          1.3        1
65            6.7          3.1           4.4          1.4        1
66            5.6          3.0           4.5          1.5        1
67            5.8          2.7           4.1          1.0        1
68            6.2          2.2           4.5          1.5        1
69            5.6          2.5           3.9          1.1        1
70            5.9          3.2           4.8          1.8        1
71            6.1          2.8           4.0          1.3        1
72            6.3          2.5           4.9          1.5        1
73            6.1          2.8           4.7          1.2        1
74            6.4          2.9           4.3          1.3        1
75            6.6          3.0           4.4          1.4        1
76            6.8          2.8           4.8          1.4        1
77            6.7          3.0           5.0          1.7        1
78            6.0          2.9           4.5          1.5        1
79            5.7          2.6           3.5          1.0        1
80            5.5          2.4           3.8          1.1        1
81            5.5          2.4           3.7          1.0        1
82            5.8          2.7           3.9          1.2        1
83            6.0          2.7           5.1          1.6        1
84            5.4          3.0           4.5          1.5        1
85            6.0          3.4           4.5          1.6        1
86            6.7          3.1           4.7          1.5        1
87            6.3          2.3           4.4          1.3        1
88            5.6          3.0           4.1          1.3        1
89            5.5          2.5           4.0          1.3        1
90            5.5          2.6           4.4          1.2        1
91            6.1          3.0           4.6          1.4        1
92            5.8          2.6           4.0          1.2        1
93            5.0          2.3           3.3          1.0        1
94            5.6          2.7           4.2          1.3        1
95            5.7          3.0           4.2          1.2        1
96            5.7          2.9           4.2          1.3        1
97            6.2          2.9           4.3          1.3        1
98            5.1          2.5           3.0          1.1        1
99            5.7          2.8           4.1          1.3        1
100           6.3          3.3           6.0          2.5        2
101           5.8          2.7           5.1          1.9        2
102           7.1          3.0           5.9          2.1        2
103           6.3          2.9           5.6          1.8        2
104           6.5          3.0           5.8          2.2        2
105           7.6          3.0           6.6          2.1        2
106           4.9          2.5           4.5          1.7        2
107           7.3          2.9           6.3          1.8        2
108           6.7          2.5           5.8          1.8        2
109           7.2          3.6           6.1          2.5        2
110           6.5          3.2           5.1          2.0        2
111           6.4          2.7           5.3          1.9        2
112           6.8          3.0           5.5          2.1        2
113           5.7          2.5           5.0          2.0        2
114           5.8          2.8           5.1          2.4        2
115           6.4          3.2           5.3          2.3        2
116           6.5          3.0           5.5          1.8        2
117           7.7          3.8           6.7          2.2        2
118           7.7          2.6           6.9          2.3        2
119           6.0          2.2           5.0          1.5        2
120           6.9          3.2           5.7          2.3        2
121           5.6          2.8           4.9          2.0        2
122           7.7          2.8           6.7          2.0        2
123           6.3          2.7           4.9          1.8        2
124           6.7          3.3           5.7          2.1        2
125           7.2          3.2           6.0          1.8        2
126           6.2          2.8           4.8          1.8        2
127           6.1          3.0           4.9          1.8        2
128           6.4          2.8           5.6          2.1        2
129           7.2          3.0           5.8          1.6        2
130           7.4          2.8           6.1          1.9        2
131           7.9          3.8           6.4          2.0        2
132           6.4          2.8           5.6          2.2        2
133           6.3          2.8           5.1          1.5        2
134           6.1          2.6           5.6          1.4        2
135           7.7          3.0           6.1          2.3        2
136           6.3          3.4           5.6          2.4        2
137           6.4          3.1           5.5          1.8        2
138           6.0          3.0           4.8          1.8        2
139           6.9          3.1           5.4          2.1        2
140           6.7          3.1           5.6          2.4        2
141           6.9          3.1           5.1          2.3        2
142           5.8          2.7           5.1          1.9        2
143           6.8          3.2           5.9          2.3        2
144           6.7          3.3           5.7          2.5        2
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [75]:
df_i = acquire.get_iris_data()
def prep_iris(df_i):
    df_i.drop(columns = ['species_id', 'measurement_id'], inplace = True)
    df_i.rename(columns = {'species_name' : 'species'}, inplace = True)
    int_encoder = LabelEncoder()
    int_encoder.fit(df_i.species)
    df_i.species = int_encoder.transform(df_i.species)
    species_array = np.array(df_i.species)
    return df_i
prep_iris(df_i)

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
5             5.4          3.9           1.7          0.4        0
6             4.6          3.4           1.4          0.3        0
7             5.0          3.4           1.5          0.2        0
8             4.4          2.9           1.4          0.2        0
9             4.9          3.1           1.5          0.1        0
10            5.4          3.7           1.5          0.2        0
11            4.8          3.4           1.6          0.2        0
12            4.8          3.0           1.4          0.1        0
13            4.3          3.0           1.1          0.1        0
14            5.8          4.0           1.2          0.2        0
15            5.7          4.4           1.5          0.4        0
16            5.4          3.9           1.3          0.4        0
17            5.1          3.5           1.4          0.3        0
18            5.7          3.8           1.7          0.3        0
19            5.1          3.8           1.5          0.3        0
20            5.4          3.4           1.7          0.2        0
21            5.1          3.7           1.5          0.4        0
22            4.6          3.6           1.0          0.2        0
23            5.1          3.3           1.7          0.5        0
24            4.8          3.4           1.9          0.2        0
25            5.0          3.0           1.6          0.2        0
26            5.0          3.4           1.6          0.4        0
27            5.2          3.5           1.5          0.2        0
28            5.2          3.4           1.4          0.2        0
29            4.7          3.2           1.6          0.2        0
30            4.8          3.1           1.6          0.2        0
31            5.4          3.4           1.5          0.4        0
32            5.2          4.1           1.5          0.1        0
33            5.5          4.2           1.4          0.2        0
34            4.9          3.1           1.5          0.2        0
35            5.0          3.2           1.2          0.2        0
36            5.5          3.5           1.3          0.2        0
37            4.9          3.6           1.4          0.1        0
38            4.4          3.0           1.3          0.2        0
39            5.1          3.4           1.5          0.2        0
40            5.0          3.5           1.3          0.3        0
41            4.5          2.3           1.3          0.3        0
42            4.4          3.2           1.3          0.2        0
43            5.0          3.5           1.6          0.6        0
44            5.1          3.8           1.9          0.4        0
45            4.8          3.0           1.4          0.3        0
46            5.1          3.8           1.6          0.2        0
47            4.6          3.2           1.4          0.2        0
48            5.3          3.7           1.5          0.2        0
49            5.0          3.3           1.4          0.2        0
50            7.0          3.2           4.7          1.4        1
51            6.4          3.2           4.5          1.5        1
52            6.9          3.1           4.9          1.5        1
53            5.5          2.3           4.0          1.3        1
54            6.5          2.8           4.6          1.5        1
55            5.7          2.8           4.5          1.3        1
56            6.3          3.3           4.7          1.6        1
57            4.9          2.4           3.3          1.0        1
58            6.6          2.9           4.6          1.3        1
59            5.2          2.7           3.9          1.4        1
60            5.0          2.0           3.5          1.0        1
61            5.9          3.0           4.2          1.5        1
62            6.0          2.2           4.0          1.0        1
63            6.1          2.9           4.7          1.4        1
64            5.6          2.9           3.6          1.3        1
65            6.7          3.1           4.4          1.4        1
66            5.6          3.0           4.5          1.5        1
67            5.8          2.7           4.1          1.0        1
68            6.2          2.2           4.5          1.5        1
69            5.6          2.5           3.9          1.1        1
70            5.9          3.2           4.8          1.8        1
71            6.1          2.8           4.0          1.3        1
72            6.3          2.5           4.9          1.5        1
73            6.1          2.8           4.7          1.2        1
74            6.4          2.9           4.3          1.3        1
75            6.6          3.0           4.4          1.4        1
76            6.8          2.8           4.8          1.4        1
77            6.7          3.0           5.0          1.7        1
78            6.0          2.9           4.5          1.5        1
79            5.7          2.6           3.5          1.0        1
80            5.5          2.4           3.8          1.1        1
81            5.5          2.4           3.7          1.0        1
82            5.8          2.7           3.9          1.2        1
83            6.0          2.7           5.1          1.6        1
84            5.4          3.0           4.5          1.5        1
85            6.0          3.4           4.5          1.6        1
86            6.7          3.1           4.7          1.5        1
87            6.3          2.3           4.4          1.3        1
88            5.6          3.0           4.1          1.3        1
89            5.5          2.5           4.0          1.3        1
90            5.5          2.6           4.4          1.2        1
91            6.1          3.0           4.6          1.4        1
92            5.8          2.6           4.0          1.2        1
93            5.0          2.3           3.3          1.0        1
94            5.6          2.7           4.2          1.3        1
95            5.7          3.0           4.2          1.2        1
96            5.7          2.9           4.2          1.3        1
97            6.2          2.9           4.3          1.3        1
98            5.1          2.5           3.0          1.1        1
99            5.7          2.8           4.1          1.3        1
100           6.3          3.3           6.0          2.5        2
101           5.8          2.7           5.1          1.9        2
102           7.1          3.0           5.9          2.1        2
103           6.3          2.9           5.6          1.8        2
104           6.5          3.0           5.8          2.2        2
105           7.6          3.0           6.6          2.1        2
106           4.9          2.5           4.5          1.7        2
107           7.3          2.9           6.3          1.8        2
108           6.7          2.5           5.8          1.8        2
109           7.2          3.6           6.1          2.5        2
110           6.5          3.2           5.1          2.0        2
111           6.4          2.7           5.3          1.9        2
112           6.8          3.0           5.5          2.1        2
113           5.7          2.5           5.0          2.0        2
114           5.8          2.8           5.1          2.4        2
115           6.4          3.2           5.3          2.3        2
116           6.5          3.0           5.5          1.8        2
117           7.7          3.8           6.7          2.2        2
118           7.7          2.6           6.9          2.3        2
119           6.0          2.2           5.0          1.5        2
120           6.9          3.2           5.7          2.3        2
121           5.6          2.8           4.9          2.0        2
122           7.7          2.8           6.7          2.0        2
123           6.3          2.7           4.9          1.8        2
124           6.7          3.3           5.7          2.1        2
125           7.2          3.2           6.0          1.8        2
126           6.2          2.8           4.8          1.8        2
127           6.1          3.0           4.9          1.8        2
128           6.4          2.8           5.6          2.1        2
129           7.2          3.0           5.8          1.6        2
130           7.4          2.8           6.1          1.9        2
131           7.9          3.8           6.4          2.0        2
132           6.4          2.8           5.6          2.2        2
133           6.3          2.8           5.1          1.5        2
134           6.1          2.6           5.6          1.4        2
135           7.7          3.0           6.1          2.3        2
136           6.3          3.4           5.6          2.4        2
137           6.4          3.1           5.5          1.8        2
138           6.0          3.0           4.8          1.8        2
139           6.9          3.1           5.4          2.1        2
140           6.7          3.1           5.6          2.4        2
141           6.9          3.1           5.1          2.3        2
142           5.8          2.7           5.1          1.9        2
143           6.8          3.2           5.9          2.3        2
144           6.7          3.3           5.7          2.5        2
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

In [76]:
Titanic Data

Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?
Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.

SyntaxError: invalid syntax (<ipython-input-76-e00b1db98717>, line 1)

Use the function you defined in acquire.py to load the titanic data set.

In [77]:
df_titanic = acquire.get_titanic_data()

Handle the missing values in the embark_town and embarked columns.

In [78]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
passenger_id    891 non-null int64
survived        891 non-null int64
pclass          891 non-null int64
sex             891 non-null object
age             714 non-null float64
sibsp           891 non-null int64
parch           891 non-null int64
fare            891 non-null float64
embarked        889 non-null object
class           891 non-null object
deck            203 non-null object
embark_town     889 non-null object
alone           891 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [79]:
df_titanic.fillna(np.nan, inplace=True)

In [80]:
imp_mode = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

imp_mode.fit(df_titanic[['embarked', 'embark_town']])

df_titanic[['embarked', 'embark_town']] = imp_mode.transform(df_titanic[['embarked', 'embark_town']])

Remove the deck column.

In [81]:
df_titanic.drop(columns = 'deck', inplace = True)

In [82]:
df_titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

Use a label encoder to transform the embarked column.

In [83]:
df_titanic.embarked

0      S
1      C
2      S
3      S
4      S
5      Q
6      S
7      S
8      S
9      C
10     S
11     S
12     S
13     S
14     S
15     S
16     Q
17     S
18     S
19     C
20     S
21     S
22     Q
23     S
24     S
25     S
26     C
27     S
28     Q
29     S
30     C
31     C
32     Q
33     S
34     C
35     S
36     C
37     S
38     S
39     C
40     S
41     S
42     C
43     C
44     Q
45     S
46     Q
47     Q
48     C
49     S
50     S
51     S
52     C
53     S
54     C
55     S
56     S
57     C
58     S
59     S
60     C
61     S
62     S
63     S
64     C
65     C
66     S
67     S
68     S
69     S
70     S
71     S
72     S
73     C
74     S
75     S
76     S
77     S
78     S
79     S
80     S
81     S
82     Q
83     S
84     S
      ..
806    S
807    S
808    S
809    S
810    S
811    S
812    S
813    S
814    S
815    S
816    S
817    C
818    S
819    S
820    S
821    S
822    S
823    S
824    S
825    Q
826    S
827    C
828    Q
829    S
830    C
831    S
832    C
833    S
834    S
835    C
836    S
837    S
838    S
839    C
840    S
841    S
842    C
843    C
844    S
845    S
846    S
847    C
848    S
849    C
850    S
851    S
852    C
853    S
854    S
855    S
856    S
857    S
858    C
859    C
860    S
861    S
862    S
863    S
864    S
865    S
866    C
867    S
868    S
869    S
870    S
871    S
872    S
873    S
874    C
875    C
876    S
877    S
878    S
879    C
880    S
881    S
882    S
883    S
884    S
885    Q
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object

In [84]:
int_encoder = LabelEncoder()
int_encoder.fit(df_titanic.embarked)
df_titanic['embarked2'] = int_encoder.transform(df_titanic.embarked)

In [85]:
df_titanic.embarked.value_counts()

S    646
C    168
Q     77
Name: embarked, dtype: int64

Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?

In [88]:
df_titanic.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked2
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,445.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.602694,1.536476
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489615,0.791503
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,222.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000,1.000000
50%,445.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000,2.000000
75%,667.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000,2.000000
max,890.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,2.000000

In [ ]:
scaled = MinMaxScaler()
scaled.fit(df[['age', 'fare']] = scaled.transform(df[['age', 'fare']]))