In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

In [2]:
import env
import acquire
import summarize

    id  parcelid             logerror transactiondate   id  parcelid  \
0   20  12325145                 0.04      2017-01-02   20  11324547
1   31  14338242                -0.02      2017-01-02   31  11544747
2   33  12155445                -0.04      2017-01-02   33  11585547
3  110  14724525                 0.04      2017-01-03  110  12716947
4  111  14179809                -0.00      2017-01-03  111  12757147

   airconditioningtypeid  architecturalstyletypeid         basementsqft  \
0                   1.00                       nan                  nan
1                   1.00                       nan                  nan
2                    nan                       nan                  nan
3                    nan                       nan                  nan
4                   1.00                       nan                  nan

           bathroomcnt  ...  buildingclassdesc heatingorsystemtypeid  \
0                 2.00  ...               None                  2.00
1                 4.00  ...               None                  2.00
2                 2.00  ...               None                  2.00
3                 1.00  ...               None                  7.00
4                 2.00  ...               None                  2.00

   heatingorsystemdesc  propertylandusetypeid        propertylandusedesc  \
0              Central                    261  Single Family Residential
1              Central                    261  Single Family Residential
2              Central                    261  Single Family Residential
3           Floor/Wall                    261  Single Family Residential
4              Central                    261  Single Family Residential

           storytypeid  storydesc  typeconstructiontypeid  \
0                  nan       None                     nan
1                  nan       None                     nan
2                  nan       None                     nan
3                  nan       None                     nan
4                  nan       None                     nan

   typeconstructiondesc  parcelid
0                  None  11324547
1                  None  11544747
2                  None  11585547
3                  None  12716947
4                  None  12757147

[5 rows x 78 columns]
          id  parcelid             logerror transactiondate     id  parcelid  \
55715  77608  10833991                -0.00      2017-09-20  77608  11212264
55716  77609  11000655                 0.02      2017-09-20  77609  11212539
55717  77610  17239384                 0.01      2017-09-21  77610  11212639
55718  77611  12773139                 0.04      2017-09-21  77611  11212962
55719  77613  13083743                -0.20      2018-05-25  77613  11213262

       airconditioningtypeid  architecturalstyletypeid         basementsqft  \
55715                   1.00                       nan                  nan
55716                   1.00                       nan                  nan
55717                   1.00                       nan                  nan
55718                   1.00                       nan                  nan
55719                   1.00                       nan                  nan

               bathroomcnt  ...  buildingclassdesc heatingorsystemtypeid  \
55715                 2.00  ...               None                  2.00
55716                 3.00  ...               None                  2.00
55717                 3.00  ...               None                  2.00
55718                 2.00  ...               None                  2.00
55719                 3.00  ...               None                  2.00

       heatingorsystemdesc  propertylandusetypeid        propertylandusedesc  \
55715              Central                    261  Single Family Residential
55716              Central                    261  Single Family Residential
55717              Central                    261  Single Family Residential
55718              Central                    261  Single Family Residential
55719              Central                    261  Single Family Residential

               storytypeid  storydesc  typeconstructiontypeid  \
55715                  nan       None                     nan
55716                  nan       None                     nan
55717                  nan       None                     nan
55718                  nan       None                     nan
55719                  nan       None                     nan

       typeconstructiondesc  parcelid
55715                  None  11212264
55716                  None  11212539
55717                  None  11212639
55718                  None  11212962
55719                  None  11213262

[5 rows x 78 columns]
          id  parcelid             logerror transactiondate     id  parcelid  \
34783  48444  12936171                 0.00      2017-06-20  48444  11452786
21874  30779  12858574                -0.02      2017-04-28  30779  17235248
53377  74178  13904452                 0.02      2017-09-06  74178  11497768
26019  36429  12514236                -0.02      2017-05-16  36429  12240868
25959  36351  12501003                 0.02      2017-05-15  36351  12219599
11       249  14391477                 0.01      2017-01-03    249  14284947
55076  76773  10898192                 0.06      2017-09-15  76773  10981422
689     1163  14331489                 0.03      2017-01-06   1163  17280723
51110  70719  11563371                -0.11      2017-08-28  70719  14039089
41185  56546  14685080                -0.00      2017-07-12  56546  14213671

       airconditioningtypeid  architecturalstyletypeid         basementsqft  \
34783                    nan                       nan                  nan
21874                    nan                       nan                  nan
53377                   1.00                       nan                  nan
26019                    nan                       nan                  nan
25959                    nan                       nan                  nan
11                       nan                       nan                  nan
55076                    nan                       nan                  nan
689                      nan                       nan                  nan
51110                    nan                       nan                  nan
41185                    nan                       nan                  nan

               bathroomcnt  ...  buildingclassdesc heatingorsystemtypeid  \
34783                 2.00  ...               None                  2.00
21874                 2.00  ...               None                   nan
53377                 5.00  ...               None                  2.00
26019                 1.00  ...               None                  7.00
25959                 1.00  ...               None                  7.00
11                    3.00  ...               None                   nan
55076                 1.00  ...               None                  7.00
689                   3.00  ...               None                   nan
51110                 2.50  ...               None                   nan
41185                 3.00  ...               None                   nan

       heatingorsystemdesc  propertylandusetypeid        propertylandusedesc  \
34783              Central                    261  Single Family Residential
21874                 None                    261  Single Family Residential
53377              Central                    261  Single Family Residential
26019           Floor/Wall                    261  Single Family Residential
25959           Floor/Wall                    261  Single Family Residential
11                    None                    261  Single Family Residential
55076           Floor/Wall                    261  Single Family Residential
689                   None                    261  Single Family Residential
51110                 None                    261  Single Family Residential
41185                 None                    261  Single Family Residential

               storytypeid  storydesc  typeconstructiontypeid  \
34783                  nan       None                     nan
21874                  nan       None                     nan
53377                  nan       None                     nan
26019                  nan       None                     nan
25959                  nan       None                     nan
11                     nan       None                     nan
55076                  nan       None                     nan
689                    nan       None                     nan
51110                  nan       None                     nan
41185                  nan       None                     nan

       typeconstructiondesc  parcelid
34783                  None  11452786
21874                  None  17235248
53377                  None  11497768
26019                  None  12240868
25959                  None  12219599
11                     None  14284947
55076                  None  10981422
689                    None  17280723
51110                  None  14039089
41185                  None  14213671

[10 rows x 78 columns]
(55720, 78)

                        id             parcelid             logerror  \
count            55,720.00            55,720.00            55,720.00
mean             38,694.38        12,992,829.29                 0.02
std              22,359.55         3,173,834.47                 0.17
min                  20.00        10,711,855.00                -4.66
25%              19,482.75        11,538,718.50                -0.02
50%              38,819.50        12,527,437.50                 0.01
75%              57,160.25        14,211,470.50                 0.04
max              77,613.00       167,689,317.00                 5.26

                        id             parcelid  airconditioningtypeid  \
count            55,720.00            55,720.00              13,641.00
mean             38,694.38        13,057,802.67                   2.36
std              22,359.55         4,674,927.93                   3.74
min                  20.00        10,711,745.00                   1.00
25%              19,482.75        11,556,525.00                   1.00
50%              38,819.50        12,579,436.50                   1.00
75%              57,160.25        14,062,848.75                   1.00
max              77,613.00       169,601,949.00                  13.00

       architecturalstyletypeid         basementsqft          bathroomcnt  \
count                     61.00                43.00            55,720.00
mean                       7.41               591.26                 2.25
std                        2.61               471.66                 0.99
min                        2.00                63.00                 1.00
25%                        7.00               218.00                 2.00
50%                        7.00               516.00                 2.00
75%                        7.00               757.00                 3.00
max                       21.00             2,443.00                20.00

                bedroomcnt  ...            taxamount   taxdelinquencyyear  \
count            55,720.00  ...            55,648.00             1,113.00
mean                  3.31  ...             5,564.87                13.93
std                   0.92  ...             6,824.50                 1.55
min                   1.00  ...                20.24                 6.00
25%                   3.00  ...             2,537.50                14.00
50%                   3.00  ...             4,136.36                14.00
75%                   4.00  ...             6,412.81                15.00
max                  25.00  ...           342,940.38                15.00

        censustractandblock  airconditioningtypeid  architecturalstyletypeid  \
count             55,457.00              13,641.00                     61.00
mean  60,490,991,881,195.46                   2.36                      7.41
std      210,414,181,143.22                   3.74                      2.61
min   60,371,011,101,000.00                   1.00                      2.00
25%   60,374,002,061,017.00                   1.00                      7.00
50%   60,375,708,002,003.00                   1.00                      7.00
75%   60,590,423,262,007.00                   1.00                      7.00
max   61,110,091,001,012.00                  13.00                     21.00

       heatingorsystemtypeid  propertylandusetypeid          storytypeid  \
count              37,036.00              55,720.00                43.00
mean                    4.08                 261.01                 7.00
std                     2.55                   0.31                 0.00
min                     1.00                 261.00                 7.00
25%                     2.00                 261.00                 7.00
50%                     2.00                 261.00                 7.00
75%                     7.00                 261.00                 7.00
max                    20.00                 275.00                 7.00

       typeconstructiontypeid             parcelid
count                   69.00            55,720.00
mean                     6.00        13,057,802.67
std                      0.00         4,674,927.93
min                      6.00        10,711,745.00
25%                      6.00        11,556,525.00
50%                      6.00        12,579,436.50
75%                      6.00        14,062,848.75
max                      6.00       169,601,949.00

[8 rows x 64 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55720 entries, 0 to 55719
Data columns (total 78 columns):
id                              55720 non-null int64
parcelid                        55720 non-null int64
logerror                        55720 non-null float64
transactiondate                 55720 non-null object
id                              55720 non-null int64
parcelid                        55720 non-null int64
airconditioningtypeid           13641 non-null float64
architecturalstyletypeid        61 non-null float64
basementsqft                    43 non-null float64
bathroomcnt                     55720 non-null float64
bedroomcnt                      55720 non-null float64
buildingclasstypeid             0 non-null object
buildingqualitytypeid           36951 non-null float64
calculatedbathnbr               55700 non-null float64
decktypeid                      353 non-null float64
finishedfloor1squarefeet        4734 non-null float64
calculatedfinishedsquarefeet    55715 non-null float64
finishedsquarefeet12            55511 non-null float64
finishedsquarefeet13            18 non-null float64
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            4734 non-null float64
finishedsquarefeet6             186 non-null float64
fips                            55720 non-null float64
fireplacecnt                    7611 non-null float64
fullbathcnt                     55700 non-null float64
garagecarcnt                    18252 non-null float64
garagetotalsqft                 18252 non-null float64
hashottuborspa                  1240 non-null float64
heatingorsystemtypeid           37036 non-null float64
latitude                        55720 non-null float64
longitude                       55720 non-null float64
lotsizesquarefeet               55420 non-null float64
poolcnt                         10935 non-null float64
poolsizesum                     768 non-null float64
pooltypeid10                    412 non-null float64
pooltypeid2                     828 non-null float64
pooltypeid7                     10095 non-null float64
propertycountylandusecode       55720 non-null object
propertylandusetypeid           55720 non-null float64
propertyzoningdesc              37006 non-null object
rawcensustractandblock          55720 non-null float64
regionidcity                    54712 non-null float64
regionidcounty                  55720 non-null float64
regionidneighborhood            20648 non-null float64
regionidzip                     55656 non-null float64
roomcnt                         55720 non-null float64
storytypeid                     43 non-null float64
threequarterbathnbr             6011 non-null float64
typeconstructiontypeid          69 non-null float64
unitcnt                         37008 non-null float64
yardbuildingsqft17              2111 non-null float64
yardbuildingsqft26              63 non-null float64
yearbuilt                       55691 non-null float64
numberofstories                 15466 non-null float64
fireplaceflag                   68 non-null float64
structuretaxvaluedollarcnt      55655 non-null float64
taxvaluedollarcnt               55718 non-null float64
assessmentyear                  55720 non-null float64
landtaxvaluedollarcnt           55718 non-null float64
taxamount                       55648 non-null float64
taxdelinquencyflag              1113 non-null object
taxdelinquencyyear              1113 non-null float64
censustractandblock             55457 non-null float64
airconditioningtypeid           13641 non-null float64
airconditioningdesc             13641 non-null object
architecturalstyletypeid        61 non-null float64
architecturalstyledesc          61 non-null object
buildingclasstypeid             0 non-null object
buildingclassdesc               0 non-null object
heatingorsystemtypeid           37036 non-null float64
heatingorsystemdesc             37036 non-null object
propertylandusetypeid           55720 non-null int64
propertylandusedesc             55720 non-null object
storytypeid                     43 non-null float64
storydesc                       43 non-null object
typeconstructiontypeid          69 non-null float64
typeconstructiondesc            69 non-null object
parcelid                        55720 non-null int64
dtypes: float64(58), int64(6), object(14)
memory usage: 33.2+ MB
None
          id  parcelid  logerror  transactiondate     id  parcelid  \
0      False     False     False            False  False     False
1      False     False     False            False  False     False
2      False     False     False            False  False     False
3      False     False     False            False  False     False
4      False     False     False            False  False     False
5      False     False     False            False  False     False
6      False     False     False            False  False     False
7      False     False     False            False  False     False
8      False     False     False            False  False     False
9      False     False     False            False  False     False
10     False     False     False            False  False     False
11     False     False     False            False  False     False
12     False     False     False            False  False     False
13     False     False     False            False  False     False
14     False     False     False            False  False     False
15     False     False     False            False  False     False
16     False     False     False            False  False     False
17     False     False     False            False  False     False
18     False     False     False            False  False     False
19     False     False     False            False  False     False
20     False     False     False            False  False     False
21     False     False     False            False  False     False
22     False     False     False            False  False     False
23     False     False     False            False  False     False
24     False     False     False            False  False     False
25     False     False     False            False  False     False
26     False     False     False            False  False     False
27     False     False     False            False  False     False
28     False     False     False            False  False     False
29     False     False     False            False  False     False
...      ...       ...       ...              ...    ...       ...
55690  False     False     False            False  False     False
55691  False     False     False            False  False     False
55692  False     False     False            False  False     False
55693  False     False     False            False  False     False
55694  False     False     False            False  False     False
55695  False     False     False            False  False     False
55696  False     False     False            False  False     False
55697  False     False     False            False  False     False
55698  False     False     False            False  False     False
55699  False     False     False            False  False     False
55700  False     False     False            False  False     False
55701  False     False     False            False  False     False
55702  False     False     False            False  False     False
55703  False     False     False            False  False     False
55704  False     False     False            False  False     False
55705  False     False     False            False  False     False
55706  False     False     False            False  False     False
55707  False     False     False            False  False     False
55708  False     False     False            False  False     False
55709  False     False     False            False  False     False
55710  False     False     False            False  False     False
55711  False     False     False            False  False     False
55712  False     False     False            False  False     False
55713  False     False     False            False  False     False
55714  False     False     False            False  False     False
55715  False     False     False            False  False     False
55716  False     False     False            False  False     False
55717  False     False     False            False  False     False
55718  False     False     False            False  False     False
55719  False     False     False            False  False     False

       airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0                      False                      True          True
1                      False                      True          True
2                       True                      True          True
3                       True                      True          True
4                      False                      True          True
5                       True                      True          True
6                      False                      True          True
7                       True                      True          True
8                       True                      True          True
9                       True                      True          True
10                      True                      True          True
11                      True                      True          True
12                      True                      True          True
13                      True                      True          True
14                      True                      True          True
15                      True                      True          True
16                      True                      True          True
17                      True                      True          True
18                      True                      True          True
19                      True                      True          True
20                     False                      True          True
21                      True                      True          True
22                      True                      True          True
23                     False                      True          True
24                     False                      True          True
25                      True                      True          True
26                      True                      True          True
27                     False                      True          True
28                      True                      True          True
29                      True                      True          True
...                      ...                       ...           ...
55690                  False                      True          True
55691                  False                      True          True
55692                  False                      True          True
55693                  False                      True          True
55694                  False                      True          True
55695                  False                      True          True
55696                  False                      True          True
55697                  False                      True          True
55698                   True                      True          True
55699                   True                      True          True
55700                   True                      True          True
55701                  False                      True          True
55702                   True                      True          True
55703                   True                      True          True
55704                   True                      True          True
55705                  False                      True          True
55706                  False                      True          True
55707                  False                      True          True
55708                  False                      True          True
55709                  False                      True          True
55710                  False                      True          True
55711                  False                      True          True
55712                  False                      True          True
55713                  False                      True          True
55714                  False                      True          True
55715                  False                      True          True
55716                  False                      True          True
55717                  False                      True          True
55718                  False                      True          True
55719                  False                      True          True

       bathroomcnt  ...  buildingclassdesc  heatingorsystemtypeid  \
0            False  ...               True                  False
1            False  ...               True                  False
2            False  ...               True                  False
3            False  ...               True                  False
4            False  ...               True                  False
5            False  ...               True                  False
6            False  ...               True                  False
7            False  ...               True                   True
8            False  ...               True                   True
9            False  ...               True                   True
10           False  ...               True                   True
11           False  ...               True                   True
12           False  ...               True                   True
13           False  ...               True                   True
14           False  ...               True                   True
15           False  ...               True                   True
16           False  ...               True                   True
17           False  ...               True                   True
18           False  ...               True                   True
19           False  ...               True                   True
20           False  ...               True                  False
21           False  ...               True                  False
22           False  ...               True                  False
23           False  ...               True                  False
24           False  ...               True                  False
25           False  ...               True                  False
26           False  ...               True                  False
27           False  ...               True                  False
28           False  ...               True                   True
29           False  ...               True                   True
...            ...  ...                ...                    ...
55690        False  ...               True                  False
55691        False  ...               True                  False
55692        False  ...               True                  False
55693        False  ...               True                  False
55694        False  ...               True                  False
55695        False  ...               True                  False
55696        False  ...               True                  False
55697        False  ...               True                  False
55698        False  ...               True                  False

In [3]:
df = acquire.acquire_zillow()

Prevent 'head' from truncating the number of columns

In [4]:
pd.set_option('display.max_columns', None) 
df.head()

,id,parcelid,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,parcelid
0,20,12325145,0.04,2017-01-02,20,11324547,1.00,nan,nan,2.00,4.00,None,8.00,2.00,nan,nan,"3,633.00","3,633.00",nan,None,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,2.00,"34,560,018.00","-118,169,806.00","9,826.00",nan,nan,nan,nan,nan,0100,261.00,LCA22,"60,379,102.06","40,227.00","3,101.00",nan,"97,329.00",0.00,nan,nan,nan,1.00,nan,nan,"2,005.00",nan,nan,"222,321.00","296,425.00","2,016.00","74,104.00","6,941.39",None,nan,nan,1.00,Central,nan,None,None,None,2.00,Central,261,Single Family Residential,nan,None,nan,None,11324547
1,31,14338242,-0.02,2017-01-02,31,11544747,1.00,nan,nan,4.00,3.00,None,11.00,4.00,nan,nan,"1,620.00","1,620.00",nan,None,nan,nan,"6,037.00",nan,4.00,nan,nan,nan,2.00,"33,996,200.00","-118,438,000.00",nan,nan,nan,nan,nan,nan,0100,261.00,LAR3,"60,372,722.02","12,447.00","3,101.00","116,415.00","96,047.00",0.00,nan,nan,nan,1.00,nan,nan,"2,011.00",nan,nan,"339,532.00","847,770.00","2,016.00","508,238.00","10,244.94",None,nan,nan,1.00,Central,nan,None,None,None,2.00,Central,261,Single Family Residential,nan,None,nan,None,11544747
2,33,12155445,-0.04,2017-01-02,33,11585547,nan,nan,nan,2.00,3.00,None,8.00,2.00,nan,nan,"2,077.00","2,077.00",nan,None,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,2.00,"34,012,977.00","-118,479,243.00","6,490.00",nan,nan,nan,nan,nan,0100,261.00,SMR2*,"60,377,022.01","26,964.00","3,101.00",nan,"96,152.00",0.00,nan,nan,nan,1.00,nan,nan,"1,926.00",nan,nan,"210,192.00","646,760.00","2,016.00","436,568.00","7,924.68",None,nan,nan,nan,None,nan,None,None,None,2.00,Central,261,Single Family Residential,nan,None,nan,None,11585547
3,110,14724525,0.04,2017-01-03,110,12716947,nan,nan,nan,1.00,3.00,None,4.00,1.00,nan,nan,"1,244.00","1,244.00",nan,None,nan,nan,"6,037.00",nan,1.00,nan,nan,nan,7.00,"33,953,559.00","-118,083,855.00","6,021.00",nan,nan,nan,nan,nan,0100,261.00,SSR1YY,"60,375,027.00","13,716.00","3,101.00",nan,"96,201.00",0.00,nan,nan,nan,1.00,nan,nan,"1,950.00",nan,nan,"108,040.00","169,471.00","2,016.00","61,431.00","2,532.88",None,nan,nan,nan,None,nan,None,None,None,7.00,Floor/Wall,261,Single Family Residential,nan,None,nan,None,12716947
4,111,14179809,-0.00,2017-01-03,111,12757147,1.00,nan,nan,2.00,3.00,None,4.00,2.00,nan,nan,"1,300.00","1,300.00",nan,None,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,2.00,"33,897,134.00","-118,102,953.00","4,917.00",nan,nan,nan,nan,nan,0100,261.00,NOR1YY,"60,375,530.00","53,636.00","3,101.00",nan,"96,193.00",0.00,nan,nan,nan,1.00,nan,nan,"1,950.00",nan,nan,"77,415.00","233,266.00","2,016.00","155,851.00","3,110.99",None,nan,nan,1.00,Central,nan,None,None,None,2.00,Central,261,Single Family Residential,nan,None,nan,None,12757147

Remove duplicate columns

In [5]:
 df = df.loc[:,~df.columns.duplicated()]

In [6]:
df.sort_values("transactiondate", ascending = True, inplace=True)
df.head()

,id,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,20,12325145,0.04,2017-01-02,1.00,nan,nan,2.00,4.00,None,8.00,2.00,nan,nan,"3,633.00","3,633.00",nan,None,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,2.00,"34,560,018.00","-118,169,806.00","9,826.00",nan,nan,nan,nan,nan,0100,261.00,LCA22,"60,379,102.06","40,227.00","3,101.00",nan,"97,329.00",0.00,nan,nan,nan,1.00,nan,nan,"2,005.00",nan,nan,"222,321.00","296,425.00","2,016.00","74,104.00","6,941.39",None,nan,nan,Central,None,None,Central,Single Family Residential,None,None
1,31,14338242,-0.02,2017-01-02,1.00,nan,nan,4.00,3.00,None,11.00,4.00,nan,nan,"1,620.00","1,620.00",nan,None,nan,nan,"6,037.00",nan,4.00,nan,nan,nan,2.00,"33,996,200.00","-118,438,000.00",nan,nan,nan,nan,nan,nan,0100,261.00,LAR3,"60,372,722.02","12,447.00","3,101.00","116,415.00","96,047.00",0.00,nan,nan,nan,1.00,nan,nan,"2,011.00",nan,nan,"339,532.00","847,770.00","2,016.00","508,238.00","10,244.94",None,nan,nan,Central,None,None,Central,Single Family Residential,None,None
2,33,12155445,-0.04,2017-01-02,nan,nan,nan,2.00,3.00,None,8.00,2.00,nan,nan,"2,077.00","2,077.00",nan,None,nan,nan,"6,037.00",nan,2.00,nan,nan,nan,2.00,"34,012,977.00","-118,479,243.00","6,490.00",nan,nan,nan,nan,nan,0100,261.00,SMR2*,"60,377,022.01","26,964.00","3,101.00",nan,"96,152.00",0.00,nan,nan,nan,1.00,nan,nan,"1,926.00",nan,nan,"210,192.00","646,760.00","2,016.00","436,568.00","7,924.68",None,nan,nan,None,None,None,Central,Single Family Residential,None,None
65,373,11744823,0.08,2017-01-03,nan,nan,nan,2.00,3.00,None,nan,2.00,nan,"1,456.00","1,456.00","1,456.00",nan,None,"1,456.00",nan,"6,111.00",1.00,2.00,3.00,780.00,nan,nan,"34,378,340.00","-118,936,013.00","11,000.00",nan,nan,nan,nan,nan,1110,261.00,None,"61,110,003.03","18,098.00","2,061.00",nan,"97,094.00",5.00,nan,nan,nan,nan,324.00,nan,"1,964.00",1.00,nan,"119,084.00","178,107.00","2,016.00","59,023.00","1,998.80",None,nan,"61,110,003,033,043.00",None,None,None,None,Single Family Residential,None,None
64,372,12439387,-0.02,2017-01-03,nan,nan,nan,2.00,3.00,None,nan,2.00,66.00,"2,266.00","2,266.00","2,266.00",nan,None,"2,266.00",nan,"6,111.00",2.00,2.00,5.00,"1,258.00",nan,nan,"34,371,870.00","-119,056,755.00","24,402.00",nan,nan,nan,nan,nan,1110,261.00,None,"61,110,004.00","26,965.00","2,061.00",nan,"97,113.00",6.00,nan,nan,nan,nan,nan,nan,"1,987.00",1.00,nan,"357,372.00","675,590.00","2,016.00","318,218.00","7,629.16",None,nan,"61,110,004,003,003.00",None,None,None,None,Single Family Residential,None,None

Verify that parcelid indicates multiple sales within 2017

In [7]:
df.parcelid.value_counts().sort_values()

12496799    1
13940649    1
10803109    1
12771236    1
11320129    1
14749598    1
11214748    1
14231451    1
11751318    1
12017556    1
13072273    1
10848143    1
11116428    1
12562314    1
17282953    1
11519879    1
12177286    1
14671748    1
13961346    1
17180603    1
12381363    1
12844928    1
11659203    1
12335097    1
11995353    1
11290615    1
13932461    1
14702517    1
11568751    1
11701870    1
           ..
12402398    2
11743374    2
11711539    2
13067305    2
11391577    2
10779619    2
14008322    2
14236060    2
14097534    2
10858360    2
10984080    2
11999890    2
11496770    2
11627049    2
13066981    2
14455319    2
11501340    2
11446756    2
12048224    2
10976131    2
12847318    2
10852812    2
12612211    2
14092694    2
10753427    2
12575721    2
11917650    2
10879060    2
17136356    2
10857130    3
Name: parcelid, Length: 55602, dtype: int64

Remove all except the last sale (row) when a property has been bought and sold multiple times during the year.

In [8]:
df.drop_duplicates('parcelid', keep='last',inplace=True) 
df.describe() #number has dropped the expected amount, 200 rows

,id,parcelid,logerror,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertylandusetypeid,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,"55,602.00","55,602.00","55,602.00","13,614.00",61.00,42.00,"55,602.00","55,602.00","36,867.00","55,582.00",351.00,"4,720.00","55,597.00","55,393.00",18.00,"4,720.00",186.00,"55,602.00","7,598.00","55,582.00","18,218.00","18,218.00","1,239.00","36,954.00","55,602.00","55,602.00","55,302.00","10,911.00",764.00,411.00,828.00,"10,071.00","55,602.00","55,602.00","54,597.00","55,602.00","20,600.00","55,538.00","55,602.00",42.00,"6,002.00",69.00,"36,924.00","2,107.00",62.00,"55,573.00","15,434.00",68.00,"55,537.00","55,600.00","55,602.00","55,600.00","55,530.00","1,111.00","55,339.00"
mean,"38,727.96","12,993,421.31",0.02,2.36,7.41,600.10,2.25,3.31,6.17,2.25,66.00,"1,489.32","1,869.66","1,871.64","1,404.00","1,503.73","1,325.82","6,048.81",1.18,2.20,1.92,487.17,1.00,4.08,"34,016,059.33","-118,206,451.84","11,075.05",1.00,521.52,1.00,1.00,1.00,261.01,"60,491,170.30","35,489.49","2,558.93","180,583.10","96,599.74",1.89,7.00,1.01,6.00,1.00,338.57,248.48,"1,961.22",1.38,1.00,"178,325.00","456,491.54","2,016.00","278,368.60","5,564.53",13.94,"60,490,976,194,907.54"
std,"22,358.59","3,176,264.50",0.17,3.74,2.61,473.76,0.99,0.92,1.70,0.99,0.00,628.56,963.99,963.96,142.83,683.80,848.28,21.19,0.49,0.97,0.57,162.74,0.00,2.55,"248,795.31","352,446.79","84,526.84",0.00,162.21,0.00,0.00,0.00,0.31,"210,351.65","54,138.79",788.17,"162,336.44","4,473.79",3.16,0.00,0.13,0.00,0.04,257.22,271.64,21.98,0.53,0.00,"228,806.25","593,597.81",0.04,"418,201.82","6,826.59",1.54,"210,350,551,381.51"
min,20.00,"10,711,855.00",-4.66,1.00,2.00,63.00,1.00,1.00,1.00,1.00,66.00,316.00,320.00,320.00,"1,056.00",316.00,368.00,"6,037.00",1.00,1.00,0.00,0.00,1.00,1.00,"33,340,711.00","-119,448,392.00",500.00,1.00,28.00,1.00,1.00,1.00,261.00,"60,371,011.10","3,491.00","1,286.00","6,952.00","95,982.00",0.00,7.00,1.00,6.00,1.00,11.00,14.00,"1,862.00",1.00,1.00,10.00,"7,584.00","2,014.00","2,250.00",20.24,6.00,"60,371,011,101,000.00"
25%,"19,526.00","11,538,715.50",-0.02,1.00,7.00,218.00,2.00,3.00,4.00,2.00,66.00,"1,133.00","1,262.00","1,264.00","1,350.00","1,138.00",802.25,"6,037.00",1.00,2.00,2.00,420.00,1.00,2.00,"33,836,684.75","-118,403,432.00","5,691.00",1.00,435.00,1.00,1.00,1.00,261.00,"60,374,002.05","12,447.00","2,061.00","41,131.00","96,193.00",0.00,7.00,1.00,6.00,1.00,200.00,97.00,"1,949.00",1.00,1.00,"75,346.00","188,460.50","2,016.00","79,007.50","2,538.32",14.00,"60,374,002,061,018.00"
50%,"38,860.50","12,527,929.50",0.01,1.00,7.00,528.00,2.00,3.00,6.00,2.00,66.00,"1,371.00","1,631.00","1,632.00","1,440.00","1,373.00","1,036.50","6,037.00",1.00,2.00,2.00,460.00,1.00,2.00,"34,018,024.50","-118,159,711.50","6,800.00",1.00,500.00,1.00,1.00,1.00,261.00,"60,375,708.01","24,832.00","3,101.00","118,208.00","96,389.00",0.00,7.00,1.00,6.00,1.00,284.00,177.00,"1,958.00",1.00,1.00,"123,860.00","330,254.00","2,016.00","183,460.00","4,135.72",14.00,"60,375,708,002,007.00"
75%,"57,186.75","14,211,866.75",0.04,1.00,7.00,769.50,3.00,4.00,8.00,3.00,66.00,"1,691.00","2,217.00","2,219.00","1,440.00","1,697.00","1,474.25","6,059.00",1.00,3.00,2.00,532.00,1.00,7.00,"34,181,063.00","-117,949,571.50","8,619.00",1.00,590.50,1.00,1.00,1.00,261.00,"60,590,423.28","44,833.00","3,101.00","274,514.00","96,987.00",5.00,7.00,1.00,6.00,1.00,400.00,284.25,"1,976.00",2.00,1.00,"206,370.00","534,555.00","2,016.00","344,964.50","6,414.17",15.00,"60,590,423,262,007.00"
max,"77,613.00","167,689,317.00",5.26,13.00,21.00,"2,443.00",20.00,25.00,12.00,20.00,66.00,"15,998.00","26,345.00","26,345.00","1,736.00","15,998.00","5,254.00","6,111.00",9.00,20.00,13.00,"3,774.00",1.00,20.00,"34,806,946.00","-117,555,933.00","6,971,010.00",1.00,"2,176.00",1.00,1.00,1.00,275.00,"61,110,091.00","396,556.00","3,101.00","764,166.00","399,675.00",86.00,7.00,4.00,6.00,4.00,"4,839.00","1,497.00","2,016.00",3.00,1.00,"10,402,360.00","30,166,843.00","2,016.00","19,764,483.00","342,940.38",15.00,"61,110,091,001,012.00"

Confirm that duplicate have been removed

In [9]:
df.parcelid.value_counts().sort_values()

12853244    1
12381363    1
12844928    1
11659203    1
12335097    1
11290615    1
12734454    1
17192949    1
11823091    1
14450672    1
11438063    1
11571182    1
14361724    1
13027303    1
14344164    1
11855843    1
13037538    1
12001066    1
14684336    1
14626778    1
12269529    1
14204306    1
10962903    1
10721229    1
17180603    1
11644874    1
13961346    1
12177286    1
14429946    1
12852988    1
           ..
14135350    1
14692358    1
11943944    1
17195020    1
14409852    1
12177530    1
10729591    1
14006327    1
12167221    1
12558388    1
13080627    1
10836011    1
11878440    1
10954789    1
17111075    1
12185662    1
11735074    1
12255264    1
14215197    1
12819136    1
12632088    1
11319319    1
14244214    1
12099604    1
12679128    1
10913809    1
13059873    1
12478477    1
11077665    1
10754051    1
Name: parcelid, Length: 55602, dtype: int64

Confirm that duplicates have been removed

In [10]:
a = df.isnull().sum()/len(df)
a

id                                             0.00
parcelid                                       0.00
logerror                                       0.00
transactiondate                                0.00
airconditioningtypeid                          0.76
architecturalstyletypeid                       1.00
basementsqft                                   1.00
bathroomcnt                                    0.00
bedroomcnt                                     0.00
buildingclasstypeid                            1.00
buildingqualitytypeid                          0.34
calculatedbathnbr                              0.00
decktypeid                                     0.99
finishedfloor1squarefeet                       0.92
calculatedfinishedsquarefeet                   0.00
finishedsquarefeet12                           0.00
finishedsquarefeet13                           1.00
finishedsquarefeet15                           1.00
finishedsquarefeet50                           0.92
finishedsquarefeet6                            1.00
fips                                           0.00
fireplacecnt                                   0.86
fullbathcnt                                    0.00
garagecarcnt                                   0.67
garagetotalsqft                                0.67
hashottuborspa                                 0.98
heatingorsystemtypeid                          0.34
latitude                                       0.00
longitude                                      0.00
lotsizesquarefeet                              0.01
                                       ...
rawcensustractandblock                         0.00
regionidcity                                   0.02
regionidcounty                                 0.00
regionidneighborhood                           0.63
regionidzip                                    0.00
roomcnt                                        0.00
storytypeid                                    1.00
threequarterbathnbr                            0.89
typeconstructiontypeid                         1.00
unitcnt                                        0.34
yardbuildingsqft17                             0.96
yardbuildingsqft26                             1.00
yearbuilt                                      0.00
numberofstories                                0.72
fireplaceflag                                  1.00
structuretaxvaluedollarcnt                     0.00
taxvaluedollarcnt                              0.00
assessmentyear                                 0.00
landtaxvaluedollarcnt                          0.00
taxamount                                      0.00
taxdelinquencyflag                             0.98
taxdelinquencyyear                             0.98
censustractandblock                            0.00
airconditioningdesc                            0.76
architecturalstyledesc                         1.00
buildingclassdesc                              1.00
heatingorsystemdesc                            0.34
propertylandusedesc                            0.00
storydesc                                      1.00
typeconstructiondesc                           1.00
Length: 68, dtype: float64

In [11]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [12]:
def data_prep(df, cols_to_remove=[], prop_required_column=.6, prop_required_row=.75):
    df.drop(columns = cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

In [13]:
df.isnull().sum()

id                                  0
parcelid                            0
logerror                            0
transactiondate                     0
airconditioningtypeid           41988
architecturalstyletypeid        55541
basementsqft                    55560
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             55602
buildingqualitytypeid           18735
calculatedbathnbr                  20
decktypeid                      55251
finishedfloor1squarefeet        50882
calculatedfinishedsquarefeet        5
finishedsquarefeet12              209
finishedsquarefeet13            55584
finishedsquarefeet15            55602
finishedsquarefeet50            50882
finishedsquarefeet6             55416
fips                                0
fireplacecnt                    48004
fullbathcnt                        20
garagecarcnt                    37384
garagetotalsqft                 37384
hashottuborspa                  54363
heatingorsystemtypeid           18648
latitude                            0
longitude                           0
lotsizesquarefeet                 300
                                ...
rawcensustractandblock              0
regionidcity                     1005
regionidcounty                      0
regionidneighborhood            35002
regionidzip                        64
roomcnt                             0
storytypeid                     55560
threequarterbathnbr             49600
typeconstructiontypeid          55533
unitcnt                         18678
yardbuildingsqft17              53495
yardbuildingsqft26              55540
yearbuilt                          29
numberofstories                 40168
fireplaceflag                   55534
structuretaxvaluedollarcnt         65
taxvaluedollarcnt                   2
assessmentyear                      0
landtaxvaluedollarcnt               2
taxamount                          72
taxdelinquencyflag              54491
taxdelinquencyyear              54491
censustractandblock               263
airconditioningdesc             41988
architecturalstyledesc          55541
buildingclassdesc               55602
heatingorsystemdesc             18648
propertylandusedesc                 0
storydesc                       55560
typeconstructiondesc            55533
Length: 68, dtype: int64

In [14]:
df = df.drop(columns = ['buildingqualitytypeid', 'regionidzip', 'unitcnt', 'censustractandblock', 'yearbuilt', 'taxamount', 'landtaxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt', 'calculatedbathnbr', 'calculatedfinishedsquarefeet', 'fullbathcnt', 'lotsizesquarefeet', 'regionidcity', 'finishedsquarefeet12', 'heatingorsystemtypeid', 'propertylandusetypeid'] )

In [15]:
df.isnull().sum()

id                               0
parcelid                         0
logerror                         0
transactiondate                  0
airconditioningtypeid        41988
architecturalstyletypeid     55541
basementsqft                 55560
bathroomcnt                      0
bedroomcnt                       0
buildingclasstypeid          55602
decktypeid                   55251
finishedfloor1squarefeet     50882
finishedsquarefeet13         55584
finishedsquarefeet15         55602
finishedsquarefeet50         50882
finishedsquarefeet6          55416
fips                             0
fireplacecnt                 48004
garagecarcnt                 37384
garagetotalsqft              37384
hashottuborspa               54363
latitude                         0
longitude                        0
poolcnt                      44691
poolsizesum                  54838
pooltypeid10                 55191
pooltypeid2                  54774
pooltypeid7                  45531
propertycountylandusecode        0
propertyzoningdesc           18680
rawcensustractandblock           0
regionidcounty                   0
regionidneighborhood         35002
roomcnt                          0
storytypeid                  55560
threequarterbathnbr          49600
typeconstructiontypeid       55533
yardbuildingsqft17           53495
yardbuildingsqft26           55540
numberofstories              40168
fireplaceflag                55534
assessmentyear                   0
taxdelinquencyflag           54491
taxdelinquencyyear           54491
airconditioningdesc          41988
architecturalstyledesc       55541
buildingclassdesc            55602
heatingorsystemdesc          18648
propertylandusedesc              0
storydesc                    55560
typeconstructiondesc         55533
dtype: int64

In [16]:
df = data_prep(df, cols_to_remove=[], prop_required_column=.6, prop_required_row=.75)
df.isnull().sum()

id                               0
parcelid                         0
logerror                         0
transactiondate                  0
bathroomcnt                      0
bedroomcnt                       0
fips                             0
latitude                         0
longitude                        0
propertycountylandusecode        0
propertyzoningdesc           18680
rawcensustractandblock           0
regionidcounty                   0
roomcnt                          0
assessmentyear                   0
heatingorsystemdesc          18648
propertylandusedesc              0
dtype: int64

In [17]:
df.shape

(55602, 17)