In [3]:
import numpy as np
import pandas as pd

from datetime import datetime
import itertools

from sklearn.model_selection import TimeSeriesSplit

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

In [5]:
solar = pd.read_csv('solar.csv')
solar.head()

                   Date/Time  Energy Produced (Wh)
0  2018-10-11 00:00:00 -0500                  1985
1  2018-10-12 00:00:00 -0500                     0
2  2018-10-13 00:00:00 -0500                     0
3  2018-10-14 00:00:00 -0500                     0
4  2018-10-15 00:00:00 -0500                     0

In [ ]:
solar ['date